<style>
  .btn-outline-dark:hover {
    color: #343a40;
    background-color: #fff;
    background-image: none;
    border-color: #343a40;
  }

  .btn-group,
  .btn-outline-dark {
    width: 100%;
  }

  .btn-outline-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }

  a:not([href]):not([tabindex]) {
    color: #fff;
  }

  .bg-light {
    background-color: #0a0a0a !important;
    width: auto;
  }

  .text-muted {
    color: #e7e7e7 !important;
  }

  .btn-abre.some {
    display: none;
  }

  .sidebar {
    position: fixed;
    top: 35px;
    z-index: 2;
    width: 15%;
  }

  .canto {
    background: url(../../img/marcauepa.png) no-repeat scroll left top;
    position: fixed;
    top: 248px;
    height: 30px;
    width: 35px;
    z-index: 100;
    left: 0pt;
  }
</style>
<div class="barra-lateral col-md-2" style="padding: 0;">
  <div class="col-md-12 bg-light" style="position: relative!important; padding-top: 0; height: 100%; width: 100%;">
    <div class="sidebar sidebar-sticky">

      <ul class="nav flex-column">
        <br>
        <li class="nav-item">

          <!-- Home -->

          <hr style="border-top: 0px solid rgb(255 255 255 / 37%)">

          <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-3 text-muted">
            <span>VISÃO GERAL</span>
          </h6>

          <a role="button" aria-pressed="true" class="btn btn-outline-dark" href="../adm_arm/home.php"
            style="margin-bottom: 10px; padding-right: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="22" height="22"
              fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
              <path
                d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
              <path fill-rule="evenodd"
                d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
            </svg>
            Painel
          </a>

        </li>

        <li class="nav-item">
          <!-- Cadastrar -->

          <hr style="border-top: 1px solid rgb(255 255 255 / 37%)">

          <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-3 text-muted">
            <span>AÇÕES</span>
          </h6>

          <div class="btn-group dropright">

            <a role="button" aria-pressed="true" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="margin-bottom: 10px; padding-right: 10px;">
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="22" height="22"
                fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
              </svg>
              Cadastros
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="../adm_arm/cadastro_armas.php">Armas</a>
              <a class="dropdown-item" href="../adm_arm/cadastro_municoes.php">Munições</a>
              <a class="dropdown-item" href="../adm_arm/cadastro_equipamentos.php">Equipamentos</a>
            </div>

          </div>

        </li>

        <li class="nav-item">
          <!-- Consultar -->

          <div class="btn-group dropright">

            <a role="button" aria-pressed="true" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="margin-bottom: 10px; padding-right: 10px;">
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="22" height="22"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
              Consultas
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="../adm_arm/inventario_geral.php">Inventário Geral</a>
              <a class="dropdown-item" href="../adm_arm/consulta_armas_gto.php">Armas GTO</a>
              <a class="dropdown-item" href="../adm_arm/consulta_armas_ordinario.php">Armas Ordinário</a>
              <a class="dropdown-item" href="../adm_arm/consulta_municao_gto.php">Munições GTO</a>
              <a class="dropdown-item" href="../adm_arm/consulta_municao_ordinario.php">Munições Ordinário</a>
              <a class="dropdown-item" href="../adm_arm/consulta_equipamento_gto.php">Equipamentos GTO</a>
              <a class="dropdown-item" href="../adm_arm/consulta_equipamento_ordinario.php">Equipamentos Ordinário</a>
            </div>

          </div>

        </li>

        <li class="nav-item">
          <!-- Consultar -->

          <div class="btn-group dropright">

            <a role="button" aria-pressed="true" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="margin-bottom: 10px; padding-right: 10px;">
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:2px;" width="22" height="22"
                fill="currentColor" class="bi bi-person-video2" viewBox="0 0 16 16">
                <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                <path
                  d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z" />
              </svg>
              Cautela do EPI
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="../adm_arm/caterinha_epi.php">Gerar Documento</a>
              <a class="dropdown-item" href="../adm_arm/visualiza_carteirinha_epi.php">Visualizar Documentos</a>
            </div>

          </div>

        </li>

        <li class="nav-item">
          <!-- Descargo de Munição -->
          <a role="button" aria-pressed="true" class="btn btn-outline-dark"
            style="margin-bottom: 10px; padding-right: 10px;" href="../adm_arm/descargo_de_municao.php">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:2px;" width="22" height="22"
              fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
              <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
              <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            </svg>
            Descargo de Munição
          </a>
        </li>
      </ul>

      <hr style="border-top: 1px solid rgb(255 255 255 / 37%);">

      <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-3 text-muted">

        <span>ADMINISTRADOR</span>

      </h6>

      <ul class="nav flex-column">

        <li class="nav-item">

          <!-- Permissões -->

          <a role="button" aria-pressed="true" class="btn btn-outline-dark"
            style="margin-bottom: 10px; padding-right: 10px;" href="../adm/permissao.php">

            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:2px;" width="22" height="22"
              fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
              <path
                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
            </svg>

            Permissões

          </a>

        </li>

        <li class="nav-item">

          <!-- Histórico de Acesso -->

          <a role="button" aria-pressed="true" class="btn btn-outline-dark"
            style="margin-bottom: 10px; padding-right: 10px;" href="../adm/historico_acesso.php">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:2px;" width="22" height="22"
              fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
              <path
                d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
              <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
              <path
                d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
            </svg>
            Histórico de Acessos
          </a>

        </li>

        <li class="nav-item">

          <!-- Backup -->
          <a role="button" aria-pressed="true" class="btn btn-outline-dark"
            style="margin-bottom: 10px; padding-right: 10px;" href="../../services/Backupando.php">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:2px;" width="22" height="22"
              fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
              <path
                d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
              <path
                d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
              <path
                d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
            </svg>
            Gerador de Backups
          </a>

        </li>

        <li style="position: bottom;">

          <hr style="border-top: 1px solid rgb(255 255 255 / 37%);">

          <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-3 text-muted">

            <span>SUPORTE</span>

          </h6>

        <li class="nav-item">
          <!-- Documentação -->
          <a role="button" aria-pressed="true" class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal"
            style="margin-bottom: 10px; padding-right: 10px;" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:2px;" width="22" height="22"
              fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
              <path
                d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
            </svg>

            Documentação

          </a>

        </li>
        <center><img src="../../img/marcauepa.png" style="margin-top: 50px;" width="170px" height="70px"></center>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"> Documentação (Ajuda)</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <!-- início do accordion -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Como realizar <strong> Cadastros
                  </strong> ?</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <h6> 1° - Clique no botão "Cadastros" da barra lateral e selecione o que deseja cadastrar.</h6>
                <img src="../../img/prints_documentacao/drop_cadastro.png">
                <h6> 2° - Preencha todos os campos necessários do formulário que você estará visualizando. </h6>
                <img src="../../img/prints_documentacao/cadastro_armas.png" width="450" height="170">
                <img src="../../img/prints_documentacao/cadastro_municao.png" width="450" height="130">
                <img src="../../img/prints_documentacao/cadastro_equipamento.png" width="450" height="170">
                <h6> 3° - Por fim clique no botão "Salvar". Você receberá uma mensagem de sucesso na sua tela caso o
                  cadastro tenha sido realizado. </h6>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> Como realizar <strong> Consultas
                  </strong> ? </a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                <h6> 1° - Clique no botão "Consultas" da barra lateral e selecione o que deseja consultar.</h6>
                <img src="../../img/prints_documentacao/drop_consulta.png">
                <h6> Você visualizará os dados em tabela. Exemplo abaixo.</h6>
                <img src="../../img/prints_documentacao/tabela_consulta.png" width="460" height="100">
                <h6> 2° - Você poderá buscar e filtrar resultados das tabelas através do campo "buscar".</h6>
                <img src="../../img/prints_documentacao/buscar_consulta.png">
                <h6> Obs - Você se depará também com botões de ação, como abaixo. </h6>
                <img src="../../img/prints_documentacao/botoes_de_acao_consulta.png">
                <h6> Ao clicar no botão "<b> OBS </b>" obterá uma menssagem com a sua observação, caso tenha cadastrado.
                </h6>
                <h6> Ao clicar no botão "<b> Editar </b>" visualizará todas as informações em campos e poderá edita-las
                  e salva-las.</h6>
                <h6> Ao clicar no botão "<b> Ver Histórico </b>" visualizará os dados de uma arma e seu histórico de
                  cautela e poderá imprimir.</h6>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"> Como gerar uma <strong> Cautela do
                    EPI </strong> ?</a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                <h6> 1° - Clique no botão "Cautela do EPI" e selecione "Gerar Documento". </h6>
                <img src="../../img/prints_documentacao/drop_cautela.png">
                <h6> 2° - Preencha todos os campos necessários. Caso você tenha uma assinatura já cadastrada, deixe o
                  campo "Assinatura" no automático, caso, não tenha, coloque manual e insira sua assinatura. Depois
                  basta clicar no botão vermelho, escrito "Gerar Documento". </h6>
                <img src="../../img/prints_documentacao/tabela_cautela.png" width="450" height="130">
                <h6> 3° - Para visualizar os documentos gerados, clique no botão "Cautela do EPI", como no 1° passo, e
                  selecione Visualizar Documentos. </h6>
                <h6> Visualizará os documentos como a imagem abaixo e poderá acessa-los. </h6>
                <img src="../../img/prints_documentacao/visualizar cautela.png" width="450" height="150">
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"> Como gerar um <strong> Descargo de
                    munição </strong> ?</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">
                <h6> 1° - Clique no botão "Descargo de Munição". </h6>
                <img src="../../img/prints_documentacao/botao_descargo.png">
                <h6> 2° - Preencha todos os campos necessários do formulário e por fim clique no botão vermelho, escrito
                  "Gerar Documento".</h6>
                <img src="../../img/prints_documentacao/tabela_descargo.png" width="450" height="130">
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"> Como gerenciar usuários e <strong>
                    Permissões </strong> ?</a>
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">
                <h6> 1° - Clique no botão "Permissões". </h6>
                <img src="../../img/prints_documentacao/botao_permissao.png">
                <h6> Visualizará os usuários cadastrados em uma tabela. Exemplo abaixo.</h6>
                <img src="../../img/prints_documentacao/tabela_permissao.png" width="450" height="80">
                <h6> Obs - Você também se deparará com botões de ação, como abaixo. </h6>
                <img src="../../img/prints_documentacao/botoes_de_acao_permissao.png">
                <h6> Ao clicar no botão "<b> Adicionar Usuário </b>" visualizará um formulário para inserir os dados de
                  um novo usuário de cadastra-lo.
                </h6>
                <h6> Ao clicar no botão "<b> Editar </b>" visualizará todas as informações do usuário em campos e poderá
                  edita-las
                  e salva-las.</h6>
                <h6> Ao clicar no botão "<b> Excluir </b>" você poderá deletar o cadastro do usuário do sistema e o
                  mesmo não poderá mais acessa-lo. </h6>
              </div>
            </div>
          </div>
        </div> <!-- fim do accordion -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div> <!-- fim do modal -->
<style>
  h6 {
    margin-top: 10px;
  }
</style>